*{
    margin: 0%;
    padding: 0%;
}

.flex-conteiner-nav{
    display: flex;
    background-color: rgb(48, 53, 56);
    padding: 0% 4%;
    
    justify-content: space-between;
    align-items: center;

    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.flex-conteiner-nav img{
    width: 10%;
}

.flex-conteiner-nav ul{
   display: flex;
   justify-content: space-evenly;
   list-style: none;
}

.flex-conteiner-nav ul li a{
    text-decoration: none;
    color: white;
 }

 .caja2{
    flex-basis: 20%;
 }
.caja3{
    flex-basis: 66%;
}

.flex-conteiner2{
    width: 100%;
    height: 850px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.61)) , url(../img/ba1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.c2_caja1{

    position: relative;
    top: 40%;
    right: 3%;

    text-align: right;
    margin: 0 0 0 55%;

    font-size: 1.2rem;
}

.c2_caja2{

    position: relative;
    top: 42%;
    right: 3%;

    text-align: right;
}