.formac{
    padding: 3% 10%;
    background-color: #EAF2FD;
}

.formac_contenedor{
    display: flex;
    justify-content: space-between;
}

.formac_contenedor_caja_div{
    width: 260px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formac_contenedor_caja_div_img{
    width: 90%;
}

.formac_contenedor_caja_tag{
    font-weight: 700;
}